networking.txt
/.quarto/
**/*.quarto_ipynb

# Data (carpetas en la raíz del repo)
DATOS_CLASIFICACION_BINARIA/*.{csv,ods,xlsx,parquet}
DATOS_REGRESSION/*.{csv,ods,xlsx,parquet}
.~lock.*#
DATOS_REGRESSION/hogares_rs18.csv

DATOS_CLASIFICACION_BINARIA/*.csv
DATOS_CLASIFICACION_BINARIA/*.ods
DATOS_CLASIFICACION_BINARIA/*.xlsx
DATOS_CLASIFICACION_BINARIA/*.parquet
DATOS_REGRESSION/*.csv
DATOS_REGRESSION/*.ods
DATOS_REGRESSION/*.xlsx
DATOS_REGRESSION/*.parquet
